@model IEnumerable<TennisCoach.Models.Enrollments>

@{
    ViewData["Title"] = "EnrolledSchedules";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<h2>Your Enrolled Schedules</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>Description</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var enrollment in Model)
            {
                <tr>
                    <td>@enrollment.Schedule.EventName</td>
                    <td>@enrollment.Schedule.Date.ToString("MM/dd/yyyy")</td>
                    <td>@enrollment.Schedule.Location</td>
                    <td>@enrollment.Schedule.Description</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You have not enrolled in any schedules.</p>
}
<a asp-controller="Member" asp-action="Enroll"> Enroll in Event</a>

<br />


<a href="@Url.Action("Index", "Member")" class="btn btn-primary">Back to Home</a>

